
  .demo-card-square.mdl-card {
    width: 320px;
    height: 230px;
  }

  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('../images/header.png') bottom right 15% no-repeat #46ACB6; 
  }
  